<!--Declaração VISUAL do component users-->

<table class="table">
  <thead>
    <th>ID</th>
    <th>Email</th>
    <th>Ações</th>
  </thead>
  <tbody>

    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.email}}</td>
      <td>
        <button class="btn btn-info" data-toggle="modal" data-target="#userDetailModal" (click)="onSelect(user)">
          <span class="glyphicon glyphicon-info-sign"></span>
          Detalhes
        </button>
        <button class="btn btn-danger">
          <span class="glyphicon glyphicon-trash"></span>
          Excluir
        </button>
      </td>
    </tr>

  </tbody>
</table>

<user-detail [user]="selectedUser"></user-detail>